//registry.npmjs.org/:_authToken=50479466-f3d4-4536-8d89-ec83933f9079
registry=https://secure.jcu.edu.au/artifactory/api/npm/npm-local/
_auth = jc185954:Maitri@77
email = mahendra.patel@jcu.edu.au
always-auth = true
